[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = " 4.2.2"
djangorestframework = "3.14.0"
mysqlclient = "*"
django-filter = "*"
bleach = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.11"
